* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 80%;
  margin: 5px;
  border-width: 3px;
  border-style: double;
  border-color: brown;
  margin-left: 10%;
  padding: 10px 10px;
}




h1 {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgreen;
  font-weight: bold;
  text-align: center;
  stroke: cadetblue;
  stroke-width: 3px;
}

#bio {
  font-size: x-large;
  font-weight: bold;
  color: brown;

}

#job {
  font-size: x-large;
  font-weight: bold;
  color: brown;
}

#edu {
  font-size: x-large;
  font-weight: bold;
  color: brown;
}

#goals {
  font-size: x-large;
  font-weight: bold;
  color: brown;
}

#top10 {
  font-size: x-large;
  font-weight: bold;
  color: rgb(11, 67, 132);
}

ul {
  list-style-type: circle;
  padding-left: 50px;
}

ol {
  list-style-type: decimal;
  padding-left: 50px;
}

#by {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}